<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Đơn Hàng</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="admin-container">
    <h2>Danh Sách Đơn Hàng</h2>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Truyện</th>
            <th>Người nhận</th>
            <th>SDT</th>
            <th>Địa chỉ</th>
            <th>Giá</th>
        </tr>

        <tr th:each="o : ${orders}">
            <td th:text="${o.id}"></td>
            <td th:text="${o.comic.title}"></td>
            <td th:text="${o.customerName}"></td>
            <td th:text="${o.phone}"></td>
            <td th:text="${o.address}"></td>
            <td th:text="${o.price} + ' đ'"></td>
        </tr>
    </table>

    <a href="/admin/home" class="btn-back">← Quay lại</a>
</div>

</body>
</html>
